.itemContainer {
	display: flex;
	align-items: center;
	padding: 1rem 0.5rem;
	margin: 0.5rem 0;
}

.colorBox {
	width: 56px;
	gap: 56px;
	border-radius: 18px;
	flex-shrink: 0;
	margin-right: 16px;
}

.name {
	font-size: 1.15rem;
	font-weight: 500;
	flex: 1 1 auto;
}

.price {
	font-size: 1.1rem;
	margin-left: 24px;
	white-space: nowrap;
}